{% extends 'category/layout.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <!-- 列表循环 -->
  {% for article in page_articles %}
    <div class="row mt-2">
      <!-- 文章内容 -->
      <!-- 标题图 -->
      <div class="col-3">
        <p>作者：{{article.author.username}}</p>
        {% comment %} <img class="img-responsive" src="{{ article.avatar.url }}" alt="avatar" style="max-width:100%;max-height: 155px; border-radius: 20px" /> {% endcomment %}
      </div>
      <div class="col">
        <!-- 栏目 -->
        <a role="button" href="#" class="btn btn-sm mb-2 btn-warning">{{ article.category.title }}</a>
        <!-- 标签 -->
        <span><a href="#" class="badge badge-secondary">{{ article.tags }}</a></span>
        <!-- 标题 -->
        <h4><b><a href="{% url 'category:article' %}?id={{ article.id }}" style="color: black;">{{ article.title }}</a></b></h4>
        <!-- 摘要 -->
        <div>
          <p style="color: gray;">{{ article.sumary }}</p>
        </div>
        <!-- 注脚 -->
        <p>
          <!-- 查看、评论、时间 -->
          <span><i class="fas fa-eye" style="color: lightskyblue;"></i>{{ article.total_views }}&nbsp;&nbsp;&nbsp;</span>
          <span><i class="fas fa-comments" style="color: yellowgreen;"></i>{{ article.comments_count }}&nbsp;&nbsp;&nbsp;</span>
          <span><i class="fas fa-clock" style="color: pink;"></i>{{ article.created|date }}</span>
        </p>
      </div>
      <hr style="width: 100%;" />
    </div>
  {% endfor %}
  <!-- 页码导航 -->
  <div class="pagenation" style="text-align: center">
    <div id="pagination" class="page"></div>
  </div>
{% endblock %}


<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {{ page_num }},
            totalPage: {{total_page}},
            callback:function (current) {
                location.href = '/?cat_id={{ category.id }}&page_size={{ page_size }}&page_num='+current;
            }
        })
    });
</script>
